@media (max-width: 900px) {
  table tbody tr td{
    font-size: 13px;
  }

  table thead th {
    font-size: 13px;
  }

  button {
    font-size: 13px;
  }

  input {
    font-size: 13px;
  }

  .inputGrande {
    width: 300px;
  }
}

@media (max-width: 585px) {
  table tbody tr td{
    font-size: 11px;
  }

  table thead th {
    font-size: 11px;
  }

  button {
    font-size: 11px;
  }

  input {
    font-size: 11px;
  }

  .inputGrande {
    width: 200px;
  }
}

@media (max-width: 450px) {
  table tbody tr td{
    font-size: 9px;
  }

  table thead th {
    font-size: 9px;
  }

  button {
    font-size: 9px;
    padding: 7px;
  }

  input {
    font-size: 10px;
  }

  .inputGrande {
    width: 160px;
  }
}

@media (max-width: 400px) {
  .inputGrande {
    width: 150px;
  }

  button {
    font-size: 8px;
    padding: 6px;
  }
}

@media (max-width: 380px) {
  table tbody tr td{
    font-size: 7px;
  }

  table thead th {
    font-size: 7px;
  }

  button {
    padding: 5px;
  }

  input {
    font-size: 7px;
  }

  .inputGrande {
    width: 120px;
  }
}
