p {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  padding-top: 5px;
  font-size: 18px;
}

table tbody tr {
  vertical-align: middle;
}

.inputGrande {
  width: 500px;
}

.ngx-pagination {
  padding-inline-start: 0 !important;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: red;
}
