<app-menu></app-menu>
<p>Usuários</p>

<form class="row g-3" style="padding: 10px; width: 100%;">
  <div class="col-auto">
    <input id="txtNomePesquisa" name="nomePesquisa" [(ngModel)]="nomePesquisa" type="text" class="form-control" style="width: 500px;" maxlength="100" placeholder="Pesquisa Usuário por Nome">
  </div>
  <div class="col-auto">
    <button type="button" (click)="consultaUsuariosPorNome();" (keydown.enter)="consultaUsuariosPorNome();" class="btn btn-primary mb-2">Pesquisar</button>
  </div>
  <div class="col-auto">
    <button type="button" [routerLink]="['/usuario-add']" (click)="novo();" (keydown.enter)="novo();" class="btn btn-secondary mb-2">Novo</button>
  </div>
</form>

<table class="table table-striped">
  <caption>{{ usuarios == null || usuarios.length == 0 ? 'Nenhum Usuário cadastrado' : usuarios.length + ' usuário(s) listado(s).' }}</caption>
  <thead>
  <th scope="col">ID</th>
  <th scope="col">Login</th>
  <th scope="col">Nome</th>
  <th scope="col" style="text-align: center;">Editar</th>
  <th scope="col" style="text-align: center;">Excluir</th>
  </thead>

  <tbody>
  <tr *ngFor="let usu of usuarios">
    <td>{{ usu.id }}</td>
    <td>{{ usu.login }}</td>
    <td>{{ usu.nome }}</td>
    <!-- Editar vai ficar em rota abrindo outra tela (passa parâmetro id para rota) -->
    <td style="text-align: center;">
      <button [routerLink]="['/usuario-edit', usu.id]" (click)="editUsuario();" (keydown.enter)="editUsuario();" class="btn btn-warning">Editar</button>
    </td>
    <td style="text-align: center;">
      <button class="btn btn-primary" (click)="deleteUsuario(usu.id);" (keydown.enter)="deleteUsuario(usu.id);">Excluir</button>
    </td>
  </tr>
  </tbody>
</table>
