<app-menu></app-menu>
<div class="card" style="margin-top: 10px;">
  <div style="padding-left: 10px; padding-right: 10px; padding-top: 10px;">
    <div class="card text-start">
      <div class="card-header">
        <div class="mb-2" style="margin-bottom: 0 !important;">
          <button type="button" class="btn btn-primary spaceButton" (click)="salvarTelefone();"
                  (keydown.enter)="salvarTelefone();"
                  style="margin-right: 5px;">Salvar
          </button>
          <button type="button" class="btn btn-secondary spaceButton" (click)="novo();" (keydown.enter)="novo();"
                  style="margin-right: 5px;">Novo
          </button>
          <button type="button" class="btn btn-danger spaceButton" (click)="cancelarEditarTelefone();"
                  (keydown.enter)="cancelarEditarTelefone();" style="margin-right: 5px;"
          >Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>

  <p>Telefone para Contato</p>

  <form style="padding: 10px;">
    <div class="mb-2">
      <div class="col-md-2">
        <label id="lblTelefoneId" for="txtTelefoneId">ID</label>
        <input id="txtTelefoneId" [(ngModel)]="telefone.id" name="id" type="text" readonly="readonly" [disabled]="true"
               class="form-control"
               autocomplete="false">
      </div>
    </div>
    <div class="row g-4" style="max-width: 100%;">
      <div class="col-md-3">
        <span style="color: red; font-weight: bold;" *ngIf="telefoneTipoValidate.invalid">* </span>
        <label id="lblTelefoneTipo" for="selTelefoneTipo">Tipo</label>
        <div>
          <!--          <input id="txtTelefoneTipo" [(ngModel)]="telefone.tipo" name="tipo" type="text" class="form-control"-->
          <!--                 (ngModelChange)="telefone.tipo = $event.toUpperCase()"-->
          <!--                 #telefoneTipoValidate="ngModel"-->
          <!--                 required="required" autocomplete="false" maxlength="20">-->
          <select id="selTelefoneTipo" class="form-select mb-3" aria-label=".form-select-lg example"
                  [(ngModel)]="telefone.tipo"
                  (change)="onChangeTipo($event)"
                  #telefoneTipoValidate="ngModel"
                  name="tipo">
            <option selected value="null">...</option>
            <option value="CASA">CASA</option>
            <option value="CELULAR">CELULAR</option>
            <option value="COMERCIAL">COMERCIAL</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <span style="color: red; font-weight: bold;" *ngIf="telefoneNumeroValidate.invalid">* </span>
        <label id="lblTelefoneNumero" for="txtTelefoneNumero">Número</label>
        <div>
          <input id="txtTelefoneNumero" [(ngModel)]="telefone.numero" name="numero" type="text" class="form-control"
                 required="required"
                 #telefoneNumeroValidate="ngModel"
                 [mask]="maskNumeroTelefone"
                 autocomplete="false" maxlength="14">
        </div>
      </div>
    </div>
  </form>
</div>
