<form style="display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: center;
    height: 100vh;
    width: 100vw;">
  <div class="mb-1" style="width: 500px; text-align: center;">
    <h1>Login do Sistema</h1>
  </div>

  <div class="mb-2" style="width: 500px;">
    <label id="lblLogin" for="txtLogin">Login</label>
    <input id="txtLogin" type="email" class="form-control" maxlength="50" placeholder="Informe o Login" required>
  </div>

  <div class="mb-2" style="width: 500px;">
    <label id="lblSenha" for="txtSenha">Senha</label>
    <input id="txtSenha" type="password" class="form-control" maxlength="50" placeholder="Informe a Senha" required>
  </div>

  <div class="mb-1" style="width: 500px;">
    <button type="button" class="btn btn-primary">Acessar</button>
  </div>
</form>

<router-outlet></router-outlet>
