<form style="display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: center;
    height: 100vh;
    width: 100vw;">
  <div class="mb-1" style="width: 500px; text-align: center;">
    <h1>Login do Sistema</h1>
  </div>

  <div class="mb-2" style="width: 500px;">
    <label id="lblLogin" for="txtLogin">Login</label>
    <input id="txtLogin" type="email" class="form-control" [(ngModel)]="usuario.login" #userLogin="ngModel" name="login" maxlength="50" required>
    <div *ngIf="userLogin.invalid && userLogin.touched" class="alert alert-danger" >
      Login deve ser informado
    </div>
  </div>

  <div class="mb-2" style="width: 500px;">
    <label id="lblSenha" for="txtSenha">Senha</label>
    <input id="txtSenha" type="password" class="form-control" [(ngModel)]="usuario.senha" #userSenha="ngModel" name="senha" maxlength="50" required>
    <div *ngIf="userSenha.invalid && userSenha.touched" class="alert alert-danger" >
      Senha deve ser informada
    </div>
  </div>

  <div class="mb-1" style="width: 500px;">
    <button type="button" class="btn btn-primary" [disabled]="userLogin.invalid || userSenha.invalid" (click)="login();">Acessar</button>
  </div>
</form>

<router-outlet></router-outlet>
