<form style="display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: center;
    height: 100vh;
    width: 100vw;">
  <div class="mb-1" style="text-align: center;">
    <h1>Login do Sistema</h1>
  </div>

  <div class="mb-2 col-5 col-md-5">
    <span style="color: red; font-weight: bold;" *ngIf="userLogin.invalid">* </span>
    <label id="lblLogin" for="txtLogin">Login</label>
    <input id="txtLogin" type="text" class="form-control" [(ngModel)]="usuario.login" #userLogin="ngModel"
           name="login" maxlength="30" required>
    <div *ngIf="userLogin.invalid && userLogin.touched" class="alert alert-danger">
      Login deve ser informado
    </div>

    <span style="color: red; font-weight: bold;" *ngIf="userSenha.invalid">* </span>
    <label for="txtSenha" class="form-label" id="lblSenha">Senha</label>
    <div class="input-group">
      <input id="txtSenha" [type]="mostrarSenha ? 'text' : 'password'" class="form-control"
             (keydown.enter)="loginEnterSenha();"
             [(ngModel)]="usuario.senha" #userSenha="ngModel"
             name="senha" maxlength="30" required>
      <button class="btn btn-outline-secondary" type="button" id="btnMostrarSenha" (click)="mostrarOcultarSenha()">
        Mostrar
      </button>
    </div>
    <div *ngIf="userSenha.invalid && userSenha.touched" class="alert alert-danger">
      Senha deve ser informada
    </div>
  </div>

  <div class="mb-2 col-5 col-md-5">
    <button type="button" class="btn btn-primary" [disabled]="userLogin.invalid || userSenha.invalid"
            (click)="login();"
            (keydown.enter)="login();">Acessar
    </button>
  </div>

  <div class="mb-2 col-5 col-md-5" style="margin-top: 10px !important;">
    <a id="linkRecuperarSenhaUser"
       style="text-decoration: underline; font-weight: bold; cursor: pointer;"
       (click)="recuperarSenhaUser();" (keydown.enter)="recuperarSenhaUser();">
      Esqueceu sua Senha ?
    </a>
  </div>

  <footer>
    <!-- RODAPE -->
    <section class="rodape">
      <div>
        <div style="display: flex; width: 100%;">
          <div style="flex: 1;">
            <label style="display: flex; flex: 1; justify-content: center; font-weight: bold; font-size: 13px;">
              Usuário e Senha padrão: admin/admin
            </label>
            <label style="display: flex; flex: 1; justify-content: center; font-size: 13px;">
              <a href="https://github.com/PADOCAS/angular_rest" target="blank">Projeto GitHub</a>
            </label>
          </div>
        </div>
      </div>
    </section>
  </footer>
</form>
