@media (max-width: 900px) {
  table tbody tr td{
    font-size: 13px;
  }

  table thead th {
    font-size: 13px;
  }

  button {
    font-size: 13px;
  }

  input {
    font-size: 13px;
  }

  .spaceButton {
    width: 80px;
  }
}

@media (max-width: 550px) {
  table tbody tr td{
    font-size: 11px;
  }

  table thead th {
    font-size: 11px;
  }

  button {
    font-size: 11px;
  }

  input {
    font-size: 11px;
  }

  .spaceButton {
    width: 70px;
  }
}

@media (max-width: 450px) {
  table tbody tr td{
    font-size: 9px;
  }

  table thead th {
    font-size: 9px;
  }

  button {
    font-size: 9px;
  }

  input {
    font-size: 9px;
  }

  .spaceButton {
    width: 65px;
  }
}

@media (max-width: 350px) {
  table tbody tr td{
    font-size: 7px;
  }

  table thead th {
    font-size: 7px;
  }

  button {
    font-size: 7px;
  }

  /*input {*/
  /*  font-size: 8px;*/
  /*}*/
}

@media (max-width: 300px) {
  table tbody tr td{
    font-size: 6px;
  }

  table thead th {
    font-size: 6px;
  }

  button {
    font-size: 6px;
  }

  input {
    font-size: 7px;
  }
}
