<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" (click)="menuHome();" (keydown.enter)="menuHome();">Home</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Cadastros
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" [routerLink]="['/usuarioList']" (click)="menuUsuarios();"
                 (keydown.enter)="menuUsuarios();">Usuários</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="sair();" (keydown.enter)="sair();" style="cursor: pointer;">Sair</a>
      </li>
    </ul>
  </div>
</nav>
