<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navBarCadastrosDrowpdown"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cadastros
          </a>
          <ul class="dropdown-menu" aria-labelledby="navBarCadastrosDrowpdown">
            <li><a class="dropdown-item" [routerLink]="['/usuarioList']" (click)="loadProgram();"
                   (keydown.enter)="loadProgram();">Usuário</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navBarRelatoriosDrowpdown"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Relatórios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navBarRelatoriosDrowpdown">
            <li><a class="dropdown-item" [routerLink]="['/usuario-report']" (click)="loadProgram();"
                   (keydown.enter)="loadProgram();">Usuários</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navBarGraficosDrowpdown"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gráficos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navBarGraficosDrowpdown">
            <li><a class="dropdown-item" [routerLink]="['/usuario-bar-chart']" (click)="loadProgram();"
                   (keydown.enter)="loadProgram();">Salários dos Usuários</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="sair();" (keydown.enter)="sair();" style="cursor: pointer;">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
